# Remove the previous line if you edit this file
S3method(print,cotrend)
S3method(cotrend,default)
# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  xts
)
importFrom("stats", "rnorm")